.links{
    background-color: maroon;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-decoration: none;

}
a:hover{
    color: white;
    background-color:blue;
    
}
